



        {% comment %} {% if widget.is_initial %}
            <p>
                <img class="rounded app-icon" src="{{ widget.value.url }}" width="200px" height="200px">
                {% if not widget.required %}
                    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
                    <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
                {% endif %}<br>
            </p>
            {% comment %} <span class="text-muted">{{ widget.input_text }}:</span> 
        {% endif %}
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}> {% endcomment %}

{% if widget.is_initial %}
    {% comment %} <div class="input-group mb-3">
        {{ widget.initial_text }}:  <a href="{{ widget.value.url }}">&nbsp;{{ widget.value }}</a>
    </div>
    
    <div class="input-group mb-3">

    </div>
    {% endcomment %}
    {% if not widget.required %}
    <div class="input-group mb-3">
        <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>&nbsp;&nbsp;
        <label class="form-check-label" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    </div>
    {% endif %}<br>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>


