{% extends 'chatting/layout.html' %} {% load widget_tweaks %} {% block body %}

<div class="form-center">
    <div class="box">
        <div class="mb-3">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>    

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{form.username.label}} {{form.username|add_class:"form-control"}}
            </div>

            <div class="mb-3">
                {{form.password.label}} {{form.password|add_class:"form-control"}}
            </div>

            <button class="btn btn-primary login-btn">Login</button>
        </form>
        <p class="text-center">
            Don't have an account? <a href="/register">Create an account</a>.
        </p>
    </div>
</div>
{% endblock %}
