{% extends "chatting/layout.html" %}

{% block body %}
    <div class="form-center">
        <div class="edit-form-center" style="width: 35rem;">
            <div class="edit-form-center card d-flex">
                <div class="card-body">
                    <p>{{post.content}}</p>
                    {% if post.image %}
                        <img src="{{post.imageURL}}" class="card-img-top" alt="Post Image"/>
                    {% else %}
                        <p>No Image in Post</p>
                    {% endif %}
                </div>
            </div>
            
            
            
            <a class="btn btn-warning" href="{% url 'index' %}">Home</a>
        </div>
    </div>
{% endblock %}