{% extends "chatting/layout.html" %} 
{% load widget_tweaks %} 
{% block body %}
    <div class="center">
        <h3>Do you wish to delete:</h3>
        <p>{{post.content}}</p>
        {% if  post.image  %}
        <img src="{{post.imageURL}}" width="200px" height="200px" />
        {% else %}
        {% endif %}
        

        <form action="{% url 'delete-post' post.id %}" method="POST">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'index' %}">Cancel</a>
            <input class="btn btn-danger" type="submit" name="Confirm" />
        </form>
    </div>
{% endblock body %}
