{% extends "chatting/layout.html" %} 
{% load widget_tweaks %} 
{% comment %} if saving with ctrl + s, make sure none of the django tags are on same line or are cut because will throw template tag error {% endcomment %}
{% block body %}

<!-- Button trigger modal -->
{% comment %} <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
>
    People To Follow
</button> {% endcomment %}

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Users</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            {% comment %} {% for users in available %}
            <a href="{% url 'profile' users.id %}">
                <div class="modal-body">{{users.username}}</div>
                <hr />
            </a>
            {% endfor %} {% endcomment %}
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>



<div class="d-flex justify-content-between mt-3">
    <div class="ms-4" style="width: 15rem">Advertisements/Games</div>
    <div>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
        
                <div class="input-group mb-3">
                    <button type="submit" class="input-group-text">Post</button>
                    {{form.content|add_class:"form-control"}}
                </div>

                <div class="input-group mb-3">
                    {{form.image|add_class:"form-control"}}
                </div>

            </form>
        </div>
        <div class="post-center-body">
            {% for post in post_page %}
            <div class="post-center">
                <div style="width: 40rem">
                    <div class="card">
                        <div>
                            <div class="card-body d-flex">
                                {% for a in post.user.useravatar_set.all %}
                                    <a href="{% url 'profile' a.user.id %}"> <img src="{{a.avatar.url}}" class="rounded-circle" width="35px" height="35px"></a>
                                {% endfor %}
                                
                                <a class="card-title ms-2" href="{% url 'profile' post.user.id %}">
                                    <h4>{{post.user.username}}</h4>
                                </a>
                            </div>
        
                            {% if post.image %}
                            <img
                                src="{{post.imageURL}}"
                                class="card-img-top"
                                alt="Post Image"
                            />
                            {% else %}
                            {% endif %}
                            <div class="card-body">
                                
                                <h4 class="card-text">{{post.content}}</h4>
                                <p>{{post.created}}</p>

                                {% if post.user == user %}
                                <a href="{% url 'update-post' post.id %}"
                                    >Edit Post</a
                                >

                                <a class="ms-1" href="{% url 'delete-post' post.id %}"
                                    >Delete Post</a
                                >

                                <a href="{% url 'single-post' post.id %}"
                                    >View Post</a
                                >

                                {% else %}
                                <a href="{% url 'single-post' post.id %}"
                                    >View Post</a
                                >
                                {% endif %}
                                <div>
                                    <form
                                        action="{% url 'like-post' post.id %}"
                                        method="POST"
                                    >
                                        {% csrf_token %}
                                        {% if user not in post.liked.all %}
                                        <button
                                            type="submit"
                                            name="post_id"
                                            value="{{post.id}}"
                                            class="btn btn-info"
                                        >
                                            Like
                                        </button>
                                        {% else %}
                                        <button
                                            type="submit"
                                            name="post_id"
                                            value="{{post.id}}"
                                            class="btn btn-danger"
                                        >
                                            Unlike
                                        </button>
                                        <p>- {{post.total_likes}} Likes - </p>{% endif %}
                                    </form>
                                </div>
                                
                                <div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input
                                            type="hidden"
                                            name="comment_post_id"
                                            value="{{post.id}}"
                                        />
                                        <div class="input-group mb-3">
                                            <button
                                                type="submit"
                                                class="input-group-text"
                                            >
                                                Post
                                            </button>
                                            {{comment_form.body|add_class:"form-control"}}
                                        </div>
                                    </form>
                                </div>
                                <p>
                                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Comments
                                    </a>
                                    {% comment %} <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Button with data-bs-target
                                    </button> {% endcomment %}
                                    </p>

                                    <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        
                                            {% for c in post.comments_set.all %}
                                            <div class="d-flex mb-1">
                                                <div class="flex-shrink-0">
                                                    {% for ua in c.user.useravatar_set.all %}
                                                    <img src="{{ua.avatar.url}}" class="rounded-circle" width="30px" height="30px">
                                                    {% endfor %}
                                                </div> 
                                                <div class="ms-2 bd-highlight bg-secondary bg-gradient rounded-pill">  
                                                    <div class="ms-3 me-5">{{c.user}}</div>
                                                    <p class="ms-3 me-5">{{c.body}}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}

            {% endfor %}
        </div>
        {% comment %} <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            <div class="loading" style="display: none">
                Loading...
            </div>
        </div> {% endcomment %}
    </div>
    <div class="me-4" style="width: 15rem">
        <h5>People To Know</h5>
        <div>
            {% for users in available %}
                <div class="mb-3 d-flex align-item-center">
                    {% for img_avatar in users.useravatar_set.all %}
                    <div class="flex-shrink-0">
                    <img src="{{img_avatar.avatar.url}}" class="rounded-circle" width="30px" height="30px">
                    </div>
                    {% endfor %}
                    <div class="flex-grow-1 ms-3">
                    <a href="{% url 'profile' users.id %}">
                        <div>{{users.username}}</div>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="mt-1">
            <h5>Contacts</h5>
            {% for f_users in all_followed_profiles %}
            <div class="mb-3 d-flex align-item-center">
                {% for img_avatar in f_users.useravatar_set.all %}
                <div class="flex-shrink-0">
                <img src="{{img_avatar.avatar.url}}" class="rounded-circle" width="30px" height="30px">
                </div>
                {% endfor %}
                <div class="flex-grow-1 ms-3">
                <a href="{% url 'profile' f_users.id %}">
                    <div>{{f_users.username}}</div>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
