{% extends 'chatting/layout.html' %} {% block body %}
<h1>Profile Page</h1>
{{user.id}} {{user.username}} {{user.email}}
<form action="{% url 'follow-unfollow' user.id %}" method="POST">
    {% csrf_token %}
    
    <p>following - {{count}}</p>
    {% if request.user == user %}
        
    {% else %}
        {% if follow_bool %}
            <button
                type="submit"
                name="user_id"
                value="{{user.id}}"
                class="btn btn-info"
            >
                Unfollow
            </button>
        
        {% else %}
            <button
            type="submit"
            name="user_id"
            value="{{user.id}}"
            class="btn btn-danger"
            >
                Follow
            </button>
        {% endif %}
    {% endif %}
    
    Followers - {{following}}
    
</form>
<a class="btn btn-warning" href="{% url 'index' %}">Home</a>
{% endblock body %}
